@{
    Layout = "_Layout.cshtml";
}

<div class="container">
    <div class="login">
        <h1>Two-factor Authentication</h1>
        @using (Html.BeginForm())
        {
            <p><input type="text" name="token" value="" placeholder="Token"></p>
            <p class="submit"><input type="submit" name="commit" value="Verify"></p>
        }
    </div>
</div>